*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

#hd{
    margin:30px;
    margin-top:30px;
    color: #fff;
}
.container{
    margin-top:30px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vh;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: white;
    background-color: blue;
}

#reset-btn{
    margin: 30px;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #231942;
    border-radius: 1rem;
    border:none;
    color:#fff;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #231942;
    border-radius: 1rem;
    border:none;
    color:#fff;
}

#msg{
    font-size: 8vh;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}


.hide{
    display: none;
}

.hide2{
    display:inline;
}
